{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="form-group">
    <form method="post">
      <label for="title">Title</label>
      <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body">{{ request.form['body'] }}</textarea>
      <div class="row">
        <input class="btn btn-success ml-auto my-1 mx-3" type="submit" value="Save">
      </div>
    </form>
  </div>
{% endblock %}