{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="form-group">
      <textarea name="body" id="body" class="form-control" readonly>
        {{ post['body'] }}
      </textarea>
    </div>
  </div>
  <form class="form-group" action=" {{ url_for('blog.comment', post_id=post['id']) }} " method="post">
    <label for="comment">Comment: </label>
    <input type="text" class="form-control" name="comment" placeholder="Comment..." />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="container">
    {% for comment in comments %}
      <div class="form-group">
        <label>{{ comment.user['username'] }} escreveu: </label>
        <textarea class="form-control" disabled="true" readonly>{{ comment['text_comment'] }}</textarea>
      </div>
    {% endfor %}
  </div>
  <a class="btn" href={{ url_for('blog.index') }}>Voltar</a>
{% endblock %}