{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block header %}
  {% if g.user %}
    <div class="container">
      <div class="row">
        <a class="btn btn-success my-2 col-2" href="{{ url_for('blog.create') }}">New Post</a>
        {% if g.user %}
          <h6 class="ml-auto my-3">Bem vindo, {{ session['username'] }}.</h6>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class="card my-1">
      <div class="card-body">
        <h2 class="card-title">
          <a href="{{ url_for('blog.details', post_id=post['id']) }}">
              {{ post['title'] }}
          </a>
        </h2>
        <p class="card-text my-2">{{ post['body'] }}</p>
        <p class="card-text">
          <small class="text-muted">
            by {{ post.user['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
          </small>
        </p>
        <div class="row">
          {% if g.user['id'] == post['author_id'] %}
            <a class="btn btn-primary ml-auto" href="{{ url_for('blog.update', post_id=post['id']) }}">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}