{% extends 'base.html' %}

{% block title %}
Search Results
{% endblock %}

{% block header %}
  <h1>Search results</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article>
      <header>
        <div>
          <h1>
              <a href="{{ url_for('blog.details', id=post['id']) }}">
                  {{ post['title'] }}
              </a>
          </h1>
          <div>by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p>{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}