{% extends 'base.html' %}

{% block header %}
  
{% endblock %}

{% block content %}
  <form class="form-group" method="post">
    <label for="title">Title</label>
    <input class="form-control" name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <div class="row">
      <div class="ml-auto mx-3 my-2"> 
        <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
        <input class="btn btn-success" type="submit" value="Save">
      </div>
    </div>
  </form>
  <hr>
{% endblock %}