{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" id="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <input type="submit" value="Log In" class="btn btn-primary ml-auto">
        </form>
    </div>
{% endblock %}