<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script>
    $(document).ready(function() {
       $('#search-button').click(function(){
          var query = $('#search').val();
          window.location = "/search?search=" + query;
       });
    });
 </script>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('blog.index') }}">
      <h2 class="my-1">My Blog</h2>
    </a>
    <div class="form-group row ml-3 my-2">
      <input name="search" id="search" class="form-control col-8" type="search" placeholder="Search" aria-label="Search">
      <button id="search-button" class="btn btn-outline-success col-3 mx-1" type="submit">Search</button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">  
        {% if g.user %}
          <li class="nav-link">
              <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">
                Logout
              </a>
          </li>
        {% else %}
          <li class="nav-link"><a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register</a></li>
          <li class="nav-link"><a class="btn btn-success" href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
</div>